html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  background-color: #FFF;
  overflow: hidden;
  font-family: 'PT Sans', sans-serif;
  color:#020911;
}




#mainContainer {
  visibility:hidden;
  width: 100%;
  height: 100%;
}

.atop{
  position:absolute;
  z-index:100;
}

.mov{
  transform:translate3d(0,0,0);
 -webkit-transform:translate3d(0,0,0);
 -webkit-transition: -webkit-transform 0.15s ease, height 0.2s ease;
 -moz-transition:    transform 0.15s ease, height 0.2s ease;
  transition:        transform 0.15s ease, height 0.2s ease;
 -o-transition:      transform 0.15s ease, height 0.2s ease;
}

.movd{
   transform:translate3d(-285px,0,0);
  -webkit-transform:translate3d(-285px,0,0);
}

.selectable{
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}




#leftPane{
  position:absolute;
  left:0;
  z-index: 1;
  height:100%;
  width:22%;
  overflow:hidden;
  box-shadow: 0 0 2px 0 #8596b0;
  background-color:#fafafa;
  background: -webkit-linear-gradient(0deg, #ecfafd 10%, #fafcff 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(0deg, #ecfafd 10%, #fafcff 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(0deg, #ecfafd 10%, #fafcff 90%); /* IE10 */
  background:      -o-linear-gradient(0deg, #ecfafd 10%, #fafcff 90%); /* Opera 11.10+ */
  background:         linear-gradient(0deg, #ecfafd 10%, #fafcff 90%); /* W3C */
        
}

#leftPaneHeader{
  font-size:24px;
  font-weight:bold;
  padding:15px;
  border-bottom: 2px dashed #dadedf;
}
#leftPaneHeader >a{
  text-decoration:none;
  color:#020911;
}

#serviceNode{
  font-size:15px;
  overflow-x:hidden;
  padding:10px 25px;
}

.serviceWrapper{
  margin-top:20px;
  font-size:16px;
}

.serviceWrapper > input{
  vertical-align: bottom;
  cursor:pointer;
  margin:0 0 3px 0;
}
.serviceWrapper > label{
  padding-left:8px;
}

.serviceWrapper > .dijitSliderH{
  margin:8px 0 0 19px;
}

.dijitSliderBar{
  height:2px;
}




.paneHeading{
  font-size:15px;
  font:bold;
  margin:20px 0 4px 5px;
}

.paneHeading:nth-child(1){
  margin-top:2px;
}

.serviceRadio{
  margin-left:25px;
}

.radioLabel{
  font-size:15px;
}



.dijitInputField.dijitInputContainer.dijitReset{ 
  padding-left: 5px;
}

.layerCheck{
  margin-left:8px;
}

.legendTitle{
  margin-top:5px;
  font-size:14px;
  margin-bottom:2px;
  margin-left:15px;
}

label:hover,.serviceRadio,.layerCheck{
  cursor:pointer;
}

.loadingImg{
  width:16px;
  height:16px;
  margin:0 0 0 -16px;
}




#centerPane{
  height: 100%;
  width: 78%;
  margin: 0;
  padding:0;
  position:absolute;
  left:22%;
}

.geocoderWrapper{
  position:absolute;
  top:30px;
  left:65px;
  z-index:1;
  border:2px solid #666;
  background-color:#fdfeff;
}

.geocoder{
  background-color:#fdfeff;
  border:none;
  outline:none;
  width:250px;
  height:36px;
  margin-left:5px;
}

#homeButton {
  position: absolute;
  top: 95px;
  left: 20px;
  z-index: 50;
}

#basemapNode{
  bottom:15px;
  left:15px;
  position:absolute;
  z-index: 1;
  width: 66px;
  height: 80px;
  background-color:#fdfeff;
  border:2px solid #666;
  border-radius: 4px;
  cursor:pointer;
  font-size:12px;
  color:#444;
}

#basemapNode > img{
  margin-left:2px;
  margin-top:1px;
  border:1px solid #999;
}

#basemapNode > div{
  margin-top:-5px;
  position:relative;
  left:50%;
  float:left;
}

#basemapNode > div > span{
  position:relative;
  left:-50%;
}

.esriControlsBR{
  display:none;
}





#tabContainer .dijitTab{
  width:85px;
  text-align: center;
}

.dijitTabPane ul{
  list-style-type:none;
  margin-left:-20px;
}

#zoomLink:hover{
  cursor:pointer;
  color:blue;
  text-decoration: underline;
}

.hide{
  width:16px !important;
  height:16px !important;
  background:url(../images/x.png);
  top:2px;
  cursor:pointer;
  opacity:0.8;
}
.hide:hover{
  opacity:1;
}
.hide > div{
  display:none !important;
}




#rightPane{
  top:0;
  right:0px;
  margin-right:-285px;
  width:302px;
  height:100%;
  background:#f9feff;
  font-size:14px;
  overflow:hidden;
  z-index:99;
  box-shadow: 0 0 2px 0 #8596b0; 
}

#dataCon{
  overflow:hidden;
  position:relative;
  height:100%;
}

#titleNode{
  width:100%;
  margin-top:20px;
  padding:0 0 10px 27px;
  border-bottom:2px dashed #dadedf;
}

#dataNode{
  margin-top:5px;
  margin-left:27px;
  word-wrap:break-word;
  overflow-y:scroll;
}

#downloadNode{
  border-top:2px dashed #dadedf;
  width:100%;
  height:30px;
  padding-top:25px;
  margin-bottom:10px;
  text-align:center;
}

#downloadLink{
  display:block;
  width:240px;
  margin:0 auto;
  padding:5px 8px;
  background-color:#d4e4ff;
  box-shadow:0 1px 1px 0 #5a6069;
  border-radius:6px;

  color:white;
  font-size:24px;
  font-weight:bolder;
  font-style:italic;
  text-shadow:1px 1px 0 #5a6069;
  text-decoration:none;

  cursor:pointer;
}

#downloadLink:hover{
  background-color:#688FED;
}

#downloadLink:active{
  margin-top:1px;
  background-color:#F2BFEB;
}

.noDownload{
  display:none;
}

#closeRP{
  z-index: 300;
  top:42%;
  right:27px;
  height:0;
  width:0;
  background:rgba(0,0,0,0);
}



#arro{
  color:#d4e4ff;
  font-size:50px;
  text-shadow:0px 1px 2px #a5b6e0, 1px 0 1px #a5b6e0;
  cursor:pointer;
}

#arro:hover{
  color:#688FED;
}

#arro:active{
  color:#d4e4ff;
}



noscript > div{
  position:absolute;
  top:5px;
  left:5px;
}